{% extends 'Fixed Side/'+User+'.html' %}
{% block Body %}
<section class="Two">
    <div class="Half">
        <img src="{{ url_for('static' , filename='images/image.jpeg') }}">
    </div>
    <div class="Half">
        <form method="post" action="{{ url_for('ChangePassword') }}">
            <input type="text" style="display: none;" name="Username" value="{{ Name }}">
            {% if User == "Client" %}
                <input type="number" style="display: none;" name="UserType" value="1">
            {% elif User == "Admin" %}
                <input type="number" style="display: none;" name="UserType"  value="2">
            {% elif User == "Owner" %}
                <input type="number" style="display: none;" name="UserType"  value="3">
            {% endif %}
            <label> Old Password </label>
            <input type="password" required name="OldPassword">
            <label> New Password </label>
            <input type="password" required name="NewPassword">
            <label> Renew Password </label>
            <input type="password" required name="RenewPassword">
            <input type="submit" value="Update">
        </form>
    </div>
</section>
{% endblock %}