{% extends 'Fixed Side/Visitor.html' %}
{% block Body %}
<section class="Two">
    <div class="Half">
        <img src="{{ url_for('static' , filename='images/Sweet4.jpeg')}}">
    </div> 
    <div class="Half">
        <h1> Enter Your Mail To Get OTP Code </h1>
        <form method="post" action="{{ url_for('SendOTP') }}">
            <label> Enter Your Mail </label>
            <input name="Email" type="email" placeholder="email" required>
            <input type="submit" value="Send">
        </form>
    </div>
</section>
{% endblock %}