{% extends 'Fixed Side/Header.html' %}
{% block Body %}
<section class="Two">
    <div class="Half">
        <img src="{{ url_for('static' , filename='images/Sweet4.jpeg')}}">
    </div> 
    <div class="Half">
        <h1> Enter Your Username </h1>
        <form method="post" action="{{ url_for('SetPassword') }}">
            <input type="text" value="{{Username}}" style="display: none;" name="Username">
            <label> New Password </label>
            <input name="NewPassword" type="password" required>
            <label> Renew Password </label>
            <input name="RenewPassword" type="password" required>
            <input type="submit" value="Send">
        </form>
    </div>
</section>
{% endblock %}