{% extends 'Fixed Side/Admin.html' %}
{% block Body %}
<section class="Two">
    <div class="Half">
        <img src="{{ url_for('static' , filename='images/Sweet4.jpeg') }}">
    </div>
    <div class="Half">
        <h1> Add New Sweet </h1>
        <form method="post" action="{{ url_for('AddItem') }}">
            <label> Name </label>
            <input type="text" required name="Name">
            <label> Brand </label>
            <input type="text" required name="Brand">
            <label> Category </label>
            <select name="Category">
                <option value="T-1"> Type 1 </option>
                <option value="T-2"> Type 2 </option>
                <option value="T-3"> Type 3 </option>
                <option value="T-4"> Type 4 </option>
                <option value="T-5"> Type 5 </option>
            </select>
            <br><br><label> Image </label>
            <input type="file" required name="Image">
            <label> Price </label>
            <input type="number" required name="Price">
            <label> Description </label>
            <input type="text" required name="Description">
            <label> Commission </label>
            <select name="Commission">
                <option value="Kilo"> Kilo </option>
                <option value="Pice"> Pice </option>
            </select>
            <label> Discount Percntage </label>
            <input type="range" min="0" required name="Discount" max="100">
            <input type="submit" value="Insert">
        </form>
    </div>
</section>
{% endblock %}